/*Variables*/
:root {
    --bg-color: #1d1b33;
    --text-color: #ffffff;
    --primary: #00edf4;
    --secondary: #da107b;
    --font-main: 'Montserrat', sans-serif;
    --max-width: 1200px;
    --padding: 24px;
    --padding-txt: 16px;
}
/*Reset básico*/
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
/*****************************************Inicio de header***************************************************/
body {
    font-family: var(--font-main);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--padding);
}
/* Header */
.header {
    width: 100%; 
    padding: 20px 100px;
    background-color: var(--bg-color);
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000;
}

.logo img { 
    width: 120px; 
}
.nav { 
    display: flex; 
    gap: 32px; 
}
.nav a { 
    color: var(--text-color); 
    text-decoration: none; 
    font-weight: 500; 
    position: relative; 
}
/*Efecto de raya hover que aparece en cada opción*/
.nav a::after { 
    content: ""; 
    position: absolute; 
    left: 0; 
    bottom: -5px; 
    width: 0%; 
    height: 2px; 
    background: var(--primary); 
    transition: 0.3s; 
}
.nav a:hover::after { 
    width: 100%; 
}
.search { 
    display: flex; 
    align-items: center; 
    padding: 5px 15px; 
    background: #2a284a; 
    border-radius: 20px; 
}
.search input { 
    background: none;
    border: none; 
    outline: none; 
    color: var(--text-color); 
}
.search i {
    margin-left: 10px; 
    color: var(--primary); 
}
.menu-toggle { 
    display: none; 
    font-size: 24px; 
    color: var(--text-color); 
    cursor: pointer; 
}
/********************************************************Hero ****************************************************************************************************/
.hero { 
    position: relative; 
    width: 100%; 
    height: 100vh; 
    overflow: hidden;
}
.hero-layer { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; }
.hero video { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
.texture {
    background: url("images/texture.png"); 
    background-size: cover; 
    opacity: 0.7; 
}
.overlay { 
    background: rgba(0, 0, 0, 0.5); 
}

.hero-content { 
    position: relative; 
    z-index: 2; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    padding: 20px; 
    text-align: center;
}
.hero-content h1 { 
    font-size: 70px; 
    padding-bottom: var(--padding-txt); 
}
.hero-content p { 
    padding-bottom: var(--padding-txt); 
}
.btn {
    padding: 13px 24px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: 0.3s ease;
}
.btn-primary {
    background-color: var(--primary);
    color: #000;
}


/******************************************************* Products & Grid *******************************************************/
.products { 
    padding: 100px 0; 
    color: var(--bg-color); 
    background: var(--text-color);
}
.products h2 { 
    margin-bottom: 20px; 
    text-align: center; 
    font-size: 40px; 
}
.grid-gallery { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px; 
    gap: 20px; 
}
.grid-item { 
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-size: cover;
    background-position: center; 
    overflow: hidden; 
    }
.item1 {
    grid-area: 1 / span 2; 
    background-image: url("images/foto-grid1.webp"); 
}
.item2 { 
    grid-area: 1 / 3 / 3 / 4; 
    background-image: url("images/foto-grid2.jpg"); 
}
.item3 { 
    grid-area: 2 / span 1; 
    background-image: url("images/foto-grid3.jpg"); 
}
.item4 { 
    grid-area: 2 / span 1 ; 
    background-image: url("images/foto-grid4.webp"); 
}
.item5 { 
    grid-area: 3 / span 2 ; 
    background-image: url("images/foto-grid5.jpg"); 
}
.item6 { 
    grid-area: 3 / span 1; 
    background-image: url("images/foto-grid6.webp"); 
}
.grid-item a {
    position: relative;
    z-index: 2;
    padding: 10px 20px;
    background: var(--primary);
    color: #000;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.3s ease;
}
.grid-item:hover::before {
    opacity: 1;
}

.grid-item:hover a {
    opacity: 1;
    transform: translateY(0);
}

/******************************************************* Footer*******************************************************/
/* Footer */
.footer { padding: 80px 0; 
    background: #14122b; 
    color: white; 
}
.footer-content { 
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 40px; 
    max-width: var(--max-width); 
    margin: 0 auto; 
    padding: 0 var(--padding); 
}
.footer-col { 
    flex: 1; 
}
.social { 
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 15px; 
}
.btn-secondary {
    background-color: var(--secondary);
    color: #fff;
}
.btn:hover {
    transform: scale(1.05);
}


/*Efecto de hover que aparece en cada ícono de redes sociales*/
.social a { 
    width: 45px; 
    height: 45px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-decoration: none; 
    background: var(--primary);
    border-radius: 50%; 
    transition: 0.3s;
}
.social i { 
    color: #000; 
}
.social a:hover { 
    background: var(--secondary); 
    transform: scale(1.1); 
}
.newsletter input { 
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 5px;    
    border: none; 
}
    .newsletter h3{
    padding: 20px;
}
/*******************************************************Media queries*******************************************************/
/* Responsive mobile*/
@media (max-width: 768px) {
    header{
        padding: 20px;
    }
    .nav{
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        padding: 20px 0;
        background: var(--bg-color);
        flex-direction: column;
        align-items: center;
        gap: 45px;
        display: none;
    }
    .nav.active{
        display: flex;
    }
    .menu-toggle{
        display: block;
    }
    .search{
        display: none;
    }
    .hero-content{
        width: 90%;
    }
    .grid-gallery{
        grid-template-columns: 1fr;
    }
    .grid-item{
        grid-column: 1fr !important;
        grid-row: 1fr !important;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
        align-items: center;

    }
    .footer-logo{
        width: 50px;
    }
    .social{
        justify-content: center;
    }
    .newsletter{
    width: 100%;   
}
    .newsletter h3{
        padding: 20px;
    }
}