
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{

    width: 95%;
    height: 120px;
    background: #080808;
    border-radius: 100px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding:0 30px 0 10px;
    position: fixed;
    top: 0;
    left: 2.5% ;
    z-index: 99;
}

.logo{

    width: 100px;
    height: 100px;
    border-radius:50%;
    background: #e3e3e3;
}
header ul{

    list-style: none;
    padding: 0;
    display: flex;
    gap: 80px;

}
header ul a{

    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.link{

    width: 400px;
    height: 60px;
    border-radius: 100px;
    background: #ed793c;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: white;  
    font-size: 25px;
}
.link input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: #ed793c;
    color: white;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}
.link input::placeholder{
    color: #e3e3e3;
}
.link i{
    cursor: pointer;
}

body{

    font-family: "Montserrat", sans-serif;
}

.hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    /* Para poner una imagen de fondo con gradiente (Ruta corregida) */  
    background: linear-gradient(90deg, rgba(131, 58, 180, 0.7) 0%, rgba(70, 70, 70, 0.7) 100%), url(images/marina.jpg);
    /* Para que la imagen de fondo se ajuste al contenedor */
    background-repeat: no-repeat;
    /* Para que la imagen cubra todo el fondo */
    background-size: cover;
    /* Para que se vea un sector específico de la imagen */
    background-position: center;
    /* Para dar efecto parallax */
    background-attachment: fixed;
}

.hero-txt {

    text-align: center;
} 

.hero-txt p{

    width: 550px;
    margin:auto;  
}

h1{

    font-size: 100px;
}


.hero-txt a{

    background: #ed793c;
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 50px;
    font-weight: 700;
}

.sec2{

    width: 100vw;
    height: 100;
    padding: 100px;
    text-align: center;
}

.sec2-box{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px 0;
}

.sec2-img img{
    width: 100%;
    height: 100%;
    /*para que la imagen cubra todo su espacio de forma proporcional*/
    object-fit: cover;
    /*para aplicarle efectos a la imagen*/
    filter: grayscale(1) blur(10px);
    /*para darle un efecto de transición suave*/
    transition: all 0.5s ease ; 
    /*Para aplicarle una trasnformación al elemento */
    transform: scale (100%, 100%) rotate(0deg);  
} 

.sec2-img img:hover{

    /*para que la imagen vuelva a su estado original al pasar el mouse por encima*/
    filter: grayscale(0) blur(0);
    transform: scale(110%, 110%) rotate(5deg);
}

.sec2-box div{

    width: 600px;
    height: 700px;
    background-color: #e3e3e3;
    border-radius:50px;
    object-fit: cover;
    overflow: hidden;
    /*position relativa para overlay*/
    position: relative;
}


h2{
    font-size: 70px;
    margin-top: 100px; 
}

/*Estilo de prueba para efecto overlay*/
.overlay{

    width: 600px ;
    height: 700px;
    background: #ed793c;
    position: absolute;
    top: 0;
    left: 0;
}

.sec2 a{

    text-decoration: none;
    color: #fff;
    background: #ed793c;
    padding: 10px 40px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 50px;
}

.sec3{

    width: 100vw;
    height: 750px;
    background: #ed793c;

}

.sec3 h2{

    font-size: 70px;
    text-align: center;
    padding: 100px;

}
.sec3-box{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sec3-box div{
    width: 230px;
    height: 230px;
    background: white;
    border-radius: 50%;
    text-align: center;
}

/*nuevo forma de comando*/
.sec3-box >div div{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: white;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*Para poner sombra a un elemento*/
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    transform: scale(100%);
    transition: all 0.3 ease;
}
.sec3-box >div div:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(95%);
}
.sec3-box >div i 
{
    color: #080808;
    font-size: 100px;
}


.sec3 h3{
    font-size: 24px;
    color: white;
    text-align: center;
    padding-top: 20px;
}
.sec3-box p{
    color: #fff;  
}
/*Estilos footer*/
footer{
    width: 100vw;
    height: 400px;
    padding: 0 80px;
    background: black;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.logo-footer{
    
    width: 150px;
    height: 150px;
    background: #e3e3e3;
    border-radius: 50%;
   
}
.social {
    display: flex;
    gap: 20px;
}
.social div{
    width: 60px;
    height: 60px;
    background: #e3e3e3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #ed793c;
}

/*Estilos para sección contacto*/
.contacto{
    width: 100%;
    height: 700px;
    display: flex;

}
.contacto > div{
    width: 50%;
    height: 100%;
  
}
.contacto > :first-child{
    clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);
    box-shadow: 0 0 0;

}
.contacto > div:last-child{
    padding:0 80px; 
    align-items: center;}

.contacto input{
    width: 80%;
    height: 50px;
    background: #e3e3e3;
    margin-bottom: 20px;
    padding: 0 30px;
    /*Para que el elemento no tenga borde*/
    border: none;
    /*Para que el elemento no tenga borde al activar input*/
    outline:none;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #666;
}
.contacto input:first-child{
    margin-top: 50px;
}
.contacto button{
    background: #ed793c;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
.contacto-form{
    padding-top: 100px;
}
.color2{
    color: #ed793c;
}


    
